<div class="main-content card-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header" data-background-color="green">
                        <h4 class="title">Login</h4>
                    </div>
                    <div class="card-content">
                        <!--<div class="row">
                            <div class="col-md-12 text-center">
                                <button (click)="onSignInWithGoogleplus()" class="btn btn-google">SignIn With Google+</button>
                            </div>
                        </div>
                        <div class="row text-center">
                            or
                        </div>-->
                      <form [formGroup]="form" (ngSubmit)="onSubmit(form)">

                          <div class="row">
                              <div class="col-md-12 text-input-box">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Email Address</label>
                                      <input formControlName="email" type="email" class="form-control" >
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-12 text-input-box">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Password</label>
                                      <input formControlName="password" type="password" class="form-control" >
                                  </div>
                              </div>
                          </div>
                          <div class="form-buttons text-center">
                              <button [disabled]="!form.valid || loading" type="submit" class="btn btn-success login">Login</button>
                              <!--<a [routerLink]="['/signup']" class="text-info pull-right">
                                I don't have an account.
                              </a>-->
                          </div>
                          <div class="clearfix"></div>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>