<div class="main-content">
    <div class="container-fluid">
        <div class="row">            
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header" style="background-color: #3184ED">
                        <h4 class="title">
                            Wave List
                        </h4>
                        <p class="category">There are list of registered waves on our database.</p>
                    </div>
                    <div class="content-table table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Photo</th>
                                    <th class="col-md-1">
                                        <span href="#">Pilot Name</span>
                                        <input type="text" name="pilot_name" (keyup)="onFilter($event)"/>
                                    </th>
                                    <th class="col-md-1">
                                        <span href="#">Type</span>
                                        <input type="text" name="type" (keyup)="onFilter($event)"/>
                                    </th>
                                    <th class="col-md-1">
                                        <span href="#">City</span>
                                        <input type="text" name="city" (keyup)="onFilter($event)"/>
                                    </th>
                                    <th class="col-md-1">
                                        <span href="#">Wide Type</span>
                                        <input type="text" name="wide_type" (keyup)="onFilter($event)"/>
                                    </th>
                                    <th class="col-md-2">Bio</th>
                                    <th class="col-md-2">Conditions</th>
                                    <th class="col-md-2">Deal for wavers</th>
                                    <th class="col-md-1">Wavers</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let wave of filteredWaveList, let i = index">
                                    <td>{{i+1}}</td>
                                    <td>
                                        <img class="img-circle img-container" [src]="wave.photo_download_url" alt="Wave Photo">
                                    </td>
                                    <td>{{wave.pilot_name}}</td>
                                    <td>{{wave.type}}</td>
                                    <td>{{wave.city}}</td>
                                    <td>{{wave.wide_type}}</td>
                                    <td>{{wave.bio}}</td>
                                    <td>{{wave.conditions}}</td>
                                    <td style="white-space: pre-line;">{{wave.deal}}</td>
                                    <td>{{wave.wavers_count}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
