<div class="my-container">
    <img src="assets/img/header.png" style="width: 100%; height: auto;">
    <p class="title">{{title}}</p>
    <div class="message-container">
        <p class="message">{{message}}</p>
    </div>
    <div style="flex: 1"></div>
    <div class="footer">
        <table style="width: 100%;">
            <tbody>
                <tr>
                    <td colspan="4" align='center'>
                        <p style="font-size: 20px; font-weight: bold">Download the app</p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 25%;" class="hide-in-phone">
                        <img src="assets/img/dot.png" width="16" height="16">
                    </td>
                    <td style="width: 25%;" align='right'>
                        <a href="#" target="_blank">
                            <img src="assets/img/ios-download.png"  width="132" height="40">
                        </a>
                    </td>
                    <td style="width: 25%;" align='left'>
                        <a href="#" target="_blank">
                            <img src="assets/img/android-download.png" width="132" height="40">
                        </a>
                    </td>
                    <td align="right" style="width: 25%;" class="hide-in-phone">
                        <img src="assets/img/wave.png" width="96" height="16">
                    </td>		
                </tr>
                <tr>
                    <td colspan="4" align='center'>
                        <p style="margin: 10px 0px;">© WavePilots. 2019</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>