div.img-card {
    border: 1px solid #EEE;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #AAA;
    width: 100px;
    height: 80px;
    float: left;
    margin-left: 10px;
}
img.additional {
    width: 100px;
    height: 80px;
}
div.list-box {
    height: 400px !important;
    overflow: scroll;
}
.table tbody>tr>td.top-align{
    vertical-align: top;
}
th {
    border-left: solid 1px #999;
    background: gray;
    color: white;
}
td {
    border-left: solid 1px #E1E1E1;
}