<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <div class="card-header" data-background-color="red">
                <h4 class="title">
                    Select Recommend Casinos
                </h4>
                <p class="category">There are casino information.</p>
            </div>
            <div class="card-content table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th *ngFor="let field of fieldNames" [width]="field.width">{{field.title}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let casino of casinoList, let i = index">
                            <td class="td-actions text-right">
                                
                            </td>
                            <td class="top-align" height="60">{{i+1}}</td>
                            <td class="top-align">
                                {{casino.raw.Name}}
                            </td>
                            <td class="top-align">{{casino.ref.VisitedCount || 0}}</td>
                            <td class="top-align">
                                <img class="img-container" [src]="casino.raw.ImageFullPath" alt="casino avatar" width="50px" height="35px">
                            </td>
                            <td class="top-align">{{casino.ShortAppLink}}</td>
                            <td class="top-align">{{casino.raw.Software}}</td>
                            <td class="top-align">{{casino.raw.Website}}</td>
                            <td class="top-align">{{casino.raw.WithdrawalMethods}}</td>
                            <td class="top-align">{{casino.raw.DepositMethods}}</td>
                            <td class="top-align">{{casino.raw.Currencies}}</td>
                            <td class="top-align">{{casino.raw.Languages}}</td>
                            <td class="top-align">{{casino.raw.Licenses}}</td>
                            <td class="top-align">{{casino.raw.WithdrawalLimits}}</td>
                            <td class="top-align">{{casino.raw.RestrictedCountries}}</td>
                            <td class="top-align">{{casino.raw.CasinoType}}</td>
                            <td class="top-align">{{casino.raw.ReturnToPlayer}}</td>
                            <td class="top-align">{{casino.raw.AllowManualFlushing}}</td>
                            <td class="top-align">{{casino.raw.LiveChat}}</td>
                            <td class="top-align">{{casino.raw.Established}}</td>
                            <td class="top-align">{{casino.raw.AffiliateProgram}}</td>
                            <td class="top-align">{{casino.raw.Contacts}}</td>
                            <td class="top-align">{{casino.raw.Owner}}</td>
                            <td class="top-align">{{casino.raw.Rate}}</td>
                            <td class="top-align">{{casino.raw.LaunchDate}}</td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--

-->