<div class="main-content">
    <div class="container-fluid">
        <div class="row" *ngIf="user && mode=='detail'">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Edit Profile</h4>
                        <p class="category">Complete your profile</p>
                    </div>
                    <div class="card-content">
                        <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Company (disabled)</label>
                                        <input type="text" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Username</label>
                                        <input formControlName="nickname" type="text" class="form-control" >
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Email address</label>
                                        <input formControlName="email" type="email" class="form-control" >
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Fist Name</label>
                                        <input formControlName="firstname" type="text" class="form-control" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Last Name</label>
                                        <input formControlName="lastname" type="text" class="form-control" >
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Address</label>
                                        <input type="text" class="form-control" >
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">City</label>
                                        <input type="text" class="form-control" >
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Country</label>
                                        <input type="text" class="form-control" >
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Postal Code</label>
                                        <input type="text" class="form-control" >
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>About Me</label>
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                            <textarea formControlName="description" class="form-control" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button [disabled]="!form.valid" type="submit" class="btn btn-danger pull-right">Update Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" [src]="(user|async)?.photoUrl" />
                        </a>
                    </div>

                    <div class="content">
                        <h6 class="category text-gray">CEO / Co-Founder</h6>
                        <h4 class="card-title">{{(user|async)?.nickname}}</h4>
                        <p class="card-content">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="#pablo" class="btn btn-danger btn-round">Follow</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="user && mode=='new'">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Add User</h4>
                        <p class="category">Type user information...</p>
                    </div>
                    <div class="card-content">
                        <form [formGroup]="form">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Email address *</label>
                                        <input formControlName="email" type="email" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Phone Number</label>
                                        <input formControlName="cellphone" type="text" class="form-control" >
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Handle</label>
                                        <input formControlName="handle" type="text" class="form-control" >
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Fist Name *</label>
                                        <input formControlName="firstname" type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Last Name *</label>
                                        <input formControlName="lastname" type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Middle Name</label>
                                        <input formControlName="middlename" type="text" class="form-control" >
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Nick Name *</label>
                                        <input formControlName="nickname" type="text" class="form-control" required>
                                    </div>
                                </div>                
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="dropdown">
                                        <label>Team</label>
                                        <a class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                            {{pickedTeam && pickedTeam.name || 'Select'}}
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li *ngFor="let team of teamList">
                                                <a (click)="pickedTeam = team">{{team.name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="dropdown">
                                        <label>Family</label>
                                        <a class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                            {{pickedFamily && pickedFamily.name || 'Select'}}
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li *ngFor="let family of familyList">
                                                <a (click)="pickedFamily = family">{{family.name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">More Info</label>
                                        <input formControlName="title" type="text" class="form-control" >
                                    </div>
                                </div>
                            </div>

                            <button [disabled]="!form.valid"  (click)="onAddUser(form)" class="btn btn-danger pull-right">Save</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>