.my-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    height: 100vh;
    padding: 50px 0px;
    margin-right: auto;
    margin-left: auto;
}

.card {
    width: 480px !important;
    margin-left: 60px;
    margin-right: 60px;
}

.card-content {
    padding: 48px 20px !important;
}

.card-content button .login {
    width: 160px;
    left: 50%;
    margin-left: -80px;
    margin-top: 14px !important;
}

div.text-input-box {
    padding: 0px 50px !important;
    margin: 0 !important;
}
/*button.login {
            margin-top: 20px;
            margin-bottom: 10px;
            background: forestgreen;
            color: white;
            align-content: center;
        }

.form-group {
    padding-bottom: 7px;
    margin: 10px 0 0 0;
}*/