.my-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    height: 100vh;
    padding: 50px 20px;
    margin-right: auto;
    margin-left: auto;
}

.card {
    width: 80% !important;
    margin-left: 10%;
    margin-right: 10%;
}

.card-content {
    padding: 48px 20px !important;
}

.card-content button .login {
    width: 160px;
    left: 50%;
    margin-left: -80px;
    margin-top: 14px !important;
}

div.text-input-box {
    padding: 0px 50px !important;
    margin: 0 !important;
}

@media (max-width: 480px) {
    .hide-in-phone {display: none}
    .card {
        width: 100% !important;
        margin-left: 0px;
        margin-right: 0px;
    }
    div.text-input-box {
        padding: 0px 20px !important;
        margin: 0 !important;
    }
}
