<div class="main-content">
    <div class="container-fluid">
        <div class="row">            
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Message List</h4>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th class="col-md-2">Text</th>
                                    <th class="col-md-4">Updated At</th>
                                    <th>From</th>
                                    <th>To</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let message of messageList, let i = index">                                    
                                    <td>{{i + 1}}</td>
                                    <td>{{message.text}}</td>
                                    <td>{{message.date | date: "MM/dd/y"}}</td>
                                    <td>{{(message.userFrom | async)?.nickname || 'Unknown'}}</td>
                                    <td>{{(message.userTo | async)?.nickname || 'Unknown'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

