<div class="main-content">
    <div class="container-fluid">
        <div class="row">            
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header" style="background-color: #3184ED">
                        <h4 class="title">
                            Waver List
                        </h4>
                        <p class="category">There are list of registered wavers on our database.</p>
                    </div>
                    <div class="content-table table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Photo</th>
                                    <th class="col-md-2">
                                        <span href="#">Business Name</span>
                                        <input type="text" name="businame" (keyup)="onFilter($event)"/>
                                    </th>
                                    <th class="col-md-2">
                                        <span href="#">Full Name</span>
                                        <input type="text" name="fullname" (keyup)="onFilter($event)"/>
                                    </th>
                                    <th class="col-md-2">
                                        <span href="#">Email</span>
                                        <input type="text" name="email" (keyup)="onFilter($event)"/>
                                    </th>
                                    <th calss="col-md-1">Membership</th>
                                    <th calss="col-md-1">Balance</th>
                                    <th calss="col-md-1">Earned</th>
                                    <th calss="col-md-1">QR shared</th>
                                    <th calss="col-md-1">Waves</th>
                                    <th calss="col-md-1">-</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of filteredUserList, let i = index">
                                    <td>{{i+1}}</td>
                                    <td>
                                        <img class="img-circle img-container" [src]="user.photo_download_url" alt="User Photo">
                                    </td>
                                    <!--<td><a [routerLink]="['/home/user/', 'detail', user.uid]">{{user.Username}}</a></td>-->
                                    <td>{{user.businame}}</td>
                                    <td>{{user.fullname}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.membership}}</td>
                                    <td>$ {{user.balance}}</td>
                                    <td>
                                        <a [routerLink]="['/home/money-activities/', user['$key']]">$ {{user.commission_earned}}</a>
                                    </td>
                                    <td>{{user.qr_shared_count}}</td>
                                    <td>{{user.joined_waves_count}}</td>
                                    <td>
                                        <button 
                                            *ngIf="user.is_disabled"
                                            [disabled]="this.loading" 
                                            class="btn btn-danger btn-xs" 
                                            rel="tooltip" 
                                            title="Enable user" 
                                            type="button"
                                            (click)="onEnableUser(user)"
                                        >
                                            <i class="material-icons">check</i>
                                        </button>
                                        <button 
                                            *ngIf="!user.is_disabled"
                                            [disabled]="this.loading" 
                                            class="btn btn-danger btn-xs" 
                                            rel="tooltip" 
                                            title="Disable user" 
                                            type="button"
                                            (click)="onDisableUser(user)"
                                        >
                                            <i class="material-icons">block</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<button [routerLink]="['/home/user/', 'new', '']" title="Add User" class="btn btn-white btn-simple pull-right">
                                <i class="material-icons">person_add</i>
                                Add User
                            </button>
-->